/*
------------------- RESET DA MODELO -------------------
*/
#titulos,
.conteudos-nav,
.conteudos:before,
.conteudos:after {
	display: none !important;
	visibility: hidden !important;
}
.corpo,
.conteudos {
	background: transparent;
	margin: 0;
	max-width: 2000px;
	overflow: visible;
	padding: 0;
}
/*
----------------------- BANNERS -----------------------
*/
@media screen and (min-width:997px) {
#banners {
	float: none;
	margin-top: 284px;
	position: relative;
}
}
#banners .owl-carousel {
	margin: 0 auto;
	max-width: 2000px;
	overflow: visible;
	position: relative;
	width: 100%;
	z-index: 9;
}
#banners .owl-nav {
	max-width: 1114px;
	margin: 0 auto;
	padding: 0 2%;
	position: relative;
	top: -150px;
	width: 100%;
}
#banners .owl-prev,
#banners .owl-next {
	font-size: 0px;
}
#banners .owl-prev {
	float: left;
}
#banners .owl-next {
	float: right;
}
#banners .owl-prev:hover,
#banners .owl-prev:focus,
#banners .owl-next:hover,
#banners .owl-next:focus {
	opacity: .5;
}
#banners .owl-prev:before,
#banners .owl-next:before {
	color: #475b6d;
	display: block;
	font-family: 'fetracom';
	font-size: 4rem;
	text-indent: 0;
}
#banners .owl-prev:before {
	content: 'e';
}
#banners .owl-next:before {
	content: 'd';
}
/*
------------- NOTICIAS SINDICATOS ---------------
*/
.noticias-banners {
	float: none;
	margin: 0 auto;
	max-width: 1170px;
	overflow: visible;
	padding: 0 15px;
	position: relative;
}
.noticias-destaque-titulo {
	color: #00599b;
	font-family: 'gotham_narrow_mediummedium';
	font-size: 2rem;
	font-style: italic;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	position: relative;
	text-transform: lowercase;
	top: -30px;
	z-index: 0;
}
.noticias-destaque-titulo:before {
	background: url(../img/titulos-padrao.jpg) repeat left top;
	content: '';
	height: 16px;
	left: 0;
	position: absolute;
	top: 3px;
	width: 100%;
	z-index: 1;
}
.noticias-destaque-titulo span {
	background: #ffffff;
	padding: 2px 6px;
	position: relative;
	z-index: 2;
}
.noticias-destaque {
	font-size: 1.2rem;
	max-width: 774px;
	overflow: visible;
	padding: 0 15px;
	position: relative;
	width: 100%;
}
#noticias-destaque {
	border: solid 6px #f2f2f2;
	padding: 30px;
	position: relative;
}
#noticias-destaque:after {
	background: url(../img/home-noticias-sindicatos-fundo-lateral.jpg) no-repeat;
	background-size: contain;
	content: '';
	height: 29px;
	position: absolute;
	left: -6px;
	top: -6px;
	width: 29px;
}
#noticias-destaque .owl-nav {
	margin: 0 auto;
	padding: 0 2%;
	position: absolute;
	right: 0px;
	top: 11px;
	width: 85px;
}
#noticias-destaque .owl-prev,
#noticias-destaque .owl-next {
	border: solid 1px #0069b4;
	height: 23px;
	font-size: 0px;
	width: 24px;
}
#noticias-destaque .owl-prev {
	float: left;
}
#noticias-destaque .owl-next {
	float: right;
}
#noticias-destaque .owl-prev:hover,
#noticias-destaque .owl-prev:focus,
#noticias-destaque .owl-next:hover,
#noticias-destaque .owl-next:focus {
	opacity: .5;
}
#noticias-destaque .owl-prev:before,
#noticias-destaque .owl-next:before {
	color: #475b6d;
	display: block;
	font-family: 'fetracom';
	font-size: 1.8rem;
	line-height: 2.2rem;
	text-align: center;
}
#noticias-destaque .owl-prev:before {
	content: 'e';
}
#noticias-destaque .owl-next:before {
	content: 'd';
}
#noticias-destaque .owl-dots {
	bottom: -16px;
	height: 25px;
	left: -36px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 999;
}
#noticias-destaque .owl-dot {
	background: #8da4b1;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	margin: 0 5px;
	width: 12px;
}
#noticias-destaque .owl-dot.active {
	background: #0069b4;
}
.noticias-destaque a {
	color: #474444;
	line-height: 0;
}
.noticias-destaque img {
	display: inline-block;
	float: left;
	margin-bottom: 17px;
	margin-right: 17px;
	max-width: 239px;
}
.noticia-destaque-data {
	color: #1b75b9;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 500;
}
.noticia-destaque-titulo {
	color: #1b75b9;
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: normal;
	margin: 0;
	margin-bottom: 2px;
	padding: 0;
}
.noticia-destaque-texto {
	display: block;
	line-height: 1.3rem;
}
/*
------------- NOTICIAS ---------------
*/
.noticias {
	display: inline-block;
	margin-top: 15px;
	max-width: 810px;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 100%;
}
.noticias-cabecalho {
	color: #00599b;
	font-family: 'gotham_narrow_mediummedium';
	font-size: 2rem;
	font-style: italic;
	padding: 0 15px;
	position: relative;
}
.noticias-cabecalho:before {
	background: #00599b;
	content: '';
	height: 2px;
	position: absolute;
	left: 15px;
	top: 14px;
	width: 95%;
}
.noticias-cabecalho span {
	background: #ffffff;
	padding: 0 4px;
	position: relative;
	z-index: 2;
}
.noticias-link {
	background: #00599b;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #ffffff;
	float: right;
	font-family: 'gotham_narrow_mediummedium';
	font-size: 1.3rem;
	font-style: normal;
	height: 17px;
	line-height: 1.3rem;
	padding: 2px 6px;
	position: relative;
	top: 6px;
	z-index: 2;
}
.noticias-link:hover,
.noticias-link:focus {
	background: #ecad00;
	text-decoration: none;
}
.noticia {
	background: #ffffff;
	display: inline-block;
	float: none;
	margin: 15px 2%;
	max-width: 234px;
	padding: 0;
	position: relative;
	text-align: left;
	width: 33%;
}
.noticia a {
	color: #474444;
	display: block;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	position: relative;
	width: 100%;
	z-index: 1;
}
.noticia a:hover,
.noticia a:focus {
	color: #686b6c;
	text-decoration: none;
}
.noticia-txt {
	border: solid 1px #e1e1e1;
	border-top: none;
	font-size: 1.1rem;
	line-height: 1.2rem;
	padding: 10px 10px 10px 76px;
	position: relative;
}
.noticia-txt:before {
	border-color: transparent transparent #e9e9e9 transparent;
	border-style: solid;
	border-width: 0 0 24px 24px;
	bottom: 0px;
	content: '';
	height: 0;
	position: absolute;
	text-align: center;
	right: 0px;
}
.noticia-txt:after {
	bottom: 0px;
	color: #a5a5a5;
	content: '+';
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	height: 15px;
	position: absolute;
	text-align: center;
	right: 0px;
	width: 12px;
}
.noticia a:hover > .noticia-txt:before,
.noticia a:focus > .noticia-txt:before {
	border-color: transparent transparent #00599b transparent;
}
.noticia a:hover > .noticia-txt:after,
.noticia a:focus > .noticia-txt:after  {
	color: #ecad00;
}
.noticia-data {
	background: #0069b4;
	color: #ffffff;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5rem;
	font-weight: 500;
	height: auto;
	left: -1px;
	padding: 0;
	padding-bottom: 9px;
	padding-top: 16px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 68px;
}
.noticia-mes {
	display: block;
	font-size: 2.5rem;
	margin: 16px 0;
}
.noticia-ano {
	display: block;
	font-size: 2rem;
}
/*
-------------- BANNERS LATERAIS ----------------
*/
.banners-laterais {
	float: right;
	position: relative;
	top: -219px;
}
.banner-lateral {
	margin: 45px 0;
}
.banner-lateral:hover,
.banner-lateral:focus {
	opacity: .5;
}
.banners-laterais div:first-child {
	margin-top: 0;
}
.banners-laterais div:last-child {
	margin-bottom: 0;
}

/*
-------------- SINDICATOS ----------------
*/
.sindicatos-container {
	background: url(../img/home-sindicatos-filiados-fundo.jpg) no-repeat center top;
	background-size: cover;
	display: block;
	max-height: 221px;
	padding-bottom: 20px;
	padding-top: 12px;
	width: 100%;
}
.sindicatos {
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 1170px;
	overflow: hidden;
	padding: 0 2%;
	position: relative;
	top: -180px;
}
.sindicatos-cabecalho {
	background: url(../img/home-sindicatos-filiados-logo.png) no-repeat left top;
	border-bottom: solid 1px #4a8ab9;
	color: #ffffff;
	font-family: 'gotham_narrow_blackblack';
	font-size: 2.5rem;
	height: 51px;
	margin-bottom: 28px;
	text-align: center;
}
#sindicatos {
	width: 100%;
}
/*
------- GALERIA DE FOTOS + FACEBOOK -----------
*/
.fotos-facebook {
	display: block;
	float: none;
	margin: 20px auto;
	max-width: 1170px;
	overflow: hidden;
	padding: 0 2%;
	position: relative;
}
.fotos {
	margin-right: 2%;
	max-width: 515px;
	padding: 0;
	width: 100%;
}
.fotos-cabecalho {
	background: url(../img/home-fotos-icone.png) no-repeat left top;
	color: #00599b;
	font-family: 'gotham_narrow_mediummedium';
	font-size: 2rem;
	margin-bottom: 12px;
	padding-left: 37px;
	padding-top: 4px;
}
.fotos img {
	border: solid 2px #fde16f;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	margin: 5px;
}
.fotos img:hover,
.fotos img:focus {
	border: solid 2px #00599b;
}
/*
--------------- FACEBOOK ----------------------
*/
.facebook {
	color: #00599b;
	float: right;
	font-family: 'gotham_narrow_mediummedium';
	font-size: 2rem;
	margin-right: 2%;
}
.facebook-cabecalho {
	margin-bottom: 12px;
	padding-top: 4px;
}

/*
------------- MEDIA QUERIES -------------------
*/
@media screen and (max-width:1187px) {
.noticias-destaque,
.noticias {
	max-width: 1177px;
}
#noticias-destaque .owl-nav {
	width: 100px;
}
.noticias {
	border-bottom: solid 3px #E5E5E5;
	text-align: center;
}
.noticias-cabecalho,
.noticia {
	text-align: left;
}
.banners-laterais {
	float: none;
	display: block;
	padding: 15px;
	text-align: center;
	top: auto;
	width: 100%;
}
.banner-lateral {
	display: inline-block;
	margin: 5px;
}
.sindicatos {
	top: auto;
}
}
@media screen and (max-width:1009px) {
.fotos {
	border-bottom: solid 1px #E5E5E5;
	margin-bottom: 15px;
	margin-right: 0;
	max-width: 1009px;
	padding-bottom: 10px;
}
.facebook {
	float: none;
	margin: 0 auto;
	max-width: 500px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
}
@media screen and (max-width:767px) {
#banners {
	margin-top: 70px;
}
#noticias-destaque .owl-nav {
	width: 80px;
}
.noticia {
	max-width: 234px;
	width: 100%;
}
.banner-lateral img {
	width: 100%;
}
}
@media screen and (max-width:660px) {
.noticias-destaque img {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
}
@media screen and (max-width:452px) {
#noticias-destaque {
	padding-top: 55px;
}
}